body {
    background-color: #D6E2F0;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    display: flex;
}

.container {
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 9rem;
    margin-top: 9rem;
}

.Qrcode {
    margin: 0px;
    padding: 0px;

}

.resize {
    display: block;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1.2rem;
    cursor: pointer;
    margin-bottom: -1.5rem
}

.text {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

}
h1{
    text-align: center;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    font-size: 15px;
}