@import url("https://fonts.google.com/specimen/Overpass");
body {
  padding: 0%;
  margin: 0%;
  background-color: hsl(216, 12%, 8%);
  color: #fff;
  font-family: 'Overpass', sans-serif;
}
.container {
  width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.rating-card {
  width: 400px;
  height: auto;
  background-color: hsl(213, 19%, 22%);
  /* color: hsl(213, 81%, 46%); */
  border-radius: 25px;
  padding: 30px;
      margin: 30px;
}

.star {
  background: hsl(213, 19%, 30%);
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.selected {
  background-color: hsl(217, 12%, 63%);
  color: #fff;
}

h1 {
  padding-bottom: 10px;
  font-weight: 400;
}

p {
  
  font-size: 15px;
}
.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
 
}

.list-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-number {
  background: hsl(213, 19%, 30%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  border: none;
  color: hsl(216, 12%, 54%);
  font-weight: 700;
  font-size: 15px;
}

.button-number:hover {
  background: hsl(25, 97%, 53%);
  color: #fff;
}

.button-container {
  margin-top: auto;
  margin-bottom: auto;
}

.button-submit {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  color: white;
  background-color: hsl(25, 97%, 53%);
  border: none;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button-submit:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}
.card-thanks {
  width: 400px;
  height: auto;
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
  padding: 27px;
  margin: 30px;
}

.thanks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;;
}

.result-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.result-small-text {
  text-align: center;
  font-weight: 600;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-badge {
  background-color: hsl(213, 19%, 22%);
  padding: 6px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.result-text-final {
  color: hsl(25, 97%, 53%);
  font-size: 15px;
}